{% load static %} 
<div class="sidebar capsule--rounded bg_img overlay--indigo overlay--opacity-8 open"
    data-background="{% static 'admin/images/1.jpg' %}"
>
    <button class="res-sidebar-close-btn"><i class="las la-times"></i></button>
    <div class="sidebar__inner">  
        <div class="sidebar__logo"> 
            <a href="{% url 'admin:index' %}" class="sidebar__main-logo"><img
                    src="{{ general.logo.url }}" alt="image"></a>
            <a href="{% url 'admin:index' %}" class="sidebar__logo-shape"><img
                    src="{{ general.logo.url }}" alt="image"></a>
            <button type="button" class="navbar__expand"></button>
        </div>

        <div class="sidebar__menu-wrapper" id="sidebar__menuWrapper">
            <ul class="sidebar__menu">
                <li class="sidebar-menu-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">
                        <i class="menu-icon las la-home"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
 

                <li class="sidebar__menu-header">Settings</li>

                <li class="sidebar-menu-item">
                    <a href="{% url 'admin.general.setting' %}" class="nav-link">
                        <i class="menu-icon las la-life-ring"></i>
                        <span class="menu-title">General Setting</span>
                    </a>
                </li> 

                <li class="sidebar-menu-item">
                    <a href="{% url 'admin.screen.record' %}" class="nav-link">
                        <i class="menu-icon las la-video"></i>
                        <span class="menu-title">Screen Record</span>
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a href="{% url 'admin.logo' %}" class="nav-link">
                        <i class="menu-icon las la-images"></i>
                        <span class="menu-title">Logo & Favicon</span>
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a href="{% url 'admin.seo' %}" class="nav-link">
                        <i class="menu-icon las la-globe"></i>
                        <span class="menu-title">SEO Manager</span>
                    </a>
                </li>

                <li class="sidebar-menu-item sidebar-dropdown">
                    <a href="javascript:void(0)">
                        <i class="menu-icon la la-envelope-o"></i>
                        <span class="menu-title">Email Manager</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>

                            <li class="sidebar-menu-item">
                                <a href="{% url 'admin.mail.setting' %}" class="nav-link">
                                    <i class="menu-icon las la-dot-circle"></i>
                                    <span class="menu-title">Global Template</span>
                                </a>
                            </li>
                           <!--  <li class="sidebar-menu-item">
                                <a href="#" class="nav-link">
                                    <i class="menu-icon las la-dot-circle"></i>
                                    <span class="menu-title">Email Templates</span>
                                </a>
                            </li> -->
                            <li class="sidebar-menu-item ">
                                <a href="{% url 'admin.email.configure' %}" class="nav-link">
                                    <i class="menu-icon las la-dot-circle"></i>
                                    <span class="menu-title">Email Configure</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sidebar-menu-item sidebar-dropdown">
                    <a href="javascript:void(0)">
                        <i class="menu-icon la la-mobile"></i>
                        <span class="menu-title">SMS Manager</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li class="sidebar-menu-item">
                                <a href="{% url 'admin.sms.setting' %}" class="nav-link">
                                    <i class="menu-icon las la-dot-circle"></i>
                                    <span class="menu-title">Global Setting</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a href="{% url 'admin.sms.configure' %}" class="nav-link">
                                    <i class="menu-icon las la-dot-circle"></i>
                                    <span class="menu-title">SMS Configure</span>
                                </a>
                            </li>
                         <!--    <li class="sidebar-menu-item">
                                <a href="" class="nav-link">
                                    <i class="menu-icon las la-dot-circle"></i>
                                    <span class="menu-title">SMS Templates</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </li>

                <li class="sidebar__menu-header">Extra</li>
                
                <li class="sidebar-menu-item">
                    <a href="{% url 'admin.custom.asset' %}" class="nav-link"
                       data-default-url="">
                        <i class="menu-icon las la-code"></i>
                        <span class="menu-title">Custom Assets</span>
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a href="{% url 'admin.clear.cache' %}" class="nav-link">
                        <i class="menu-icon las la-broom"></i>
                        <span class="menu-title">Clear Cache</span>
                    </a>
                </li>
            </ul>
            <div class="text-center mb-3 text-uppercase">
                <span class="text--primary">{{ systemN }}</span>
                <span class="text--success">V{{ systemV }}</span>
            </div>
        </div>
    </div>
</div>
<!-- sidebar end -->

